# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Streamlit and Jupyter
.streamlit/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/
